<div class="flex flex-col h-full bg-white border rounded-xl shadow">
  <!-- Header -->
  <div class="flex items-center gap-3 p-3 border-b bg-gray-50">
    <p-avatar shape="circle" styleClass="bg-indigo-500 text-black font-bold flex items-center justify-center"
      label="{{ selectedUser?.name[0] }}" shape="circle"></p-avatar>
    <div>
      <p class="font-semibold">{{ selectedUser?.name }}</p>
      <p class="text-xs text-gray-500">Online</p>
    </div>
  </div>

  <!-- Messages -->
  <div class="flex-1 overflow-y-auto p-4 space-y-3 bg-gray-100" #scrollContainer>

    <div *ngFor="let msg of messages">
      <div [ngClass]="{
            'text-right': msg.isMine
        }">

        <p-card class="inline-block max-w-[75%] p-2 rounded-xl" [ngClass]="{
            'bg-blue-500 text-white ml-auto': msg.isMine,
            'bg-white text-gray-800': !msg.isMine
          }">
          {{ msg.text }}
        </p-card>

        <p class="text-xs text-gray-500 mt-1" [ngClass]="{'text-right': msg.isMine}">
          {{ msg.time }}
        </p>
      </div>
    </div>

  </div>

  <!-- Message input -->
  <div class="p-3 border-t bg-white flex items-center gap-3">
    <input pInputText class="flex-1" [(ngModel)]="message" placeholder="Type a message..."
      (keyup.enter)="sendMessage()" />

    <button pButton icon="pi pi-send" (click)="sendMessage()"></button>
  </div>

</div>