<div class="users-container">

  <!-- Header -->
  <div class="users-header">
    Users
  </div>

  <!-- Scrollable User List -->
  <div class="users-list">

    <ng-container *ngIf="userResponse">
      <div *ngFor="let user of userResponse.data"
           (click)="selectUser(user)"
           class="user-item">

        <!-- Material Avatar -->
        <div class="avatar">
          <mat-icon>person</mat-icon>
        </div>

        <!-- User Info -->
        <div>
          <div class="user-name">{{ user.firstname }}</div>
        </div>

      </div>

      <mat-divider></mat-divider>
    </ng-container>

  </div>

</div>
